.tns-outer {
    padding: 0 !important
}

.tns-outer [hidden] {
    display: none !important
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer
}

.tns-slider {
    position: relative;
    overflow: hidden
}

.tns-slider>.tns-item {
    display: block
}

.tns-horizontal.tns-subpixel {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.tns-horizontal.tns-subpixel>.tns-item {
    float: left
}

.tns-horizontal.tns-no-subpixel:after {
    content: '';
    display: table;
    clear: both
}

.tns-horizontal.tns-no-subpixel>.tns-item {
    float: left
}

.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item {
    margin-right: -100%
}

.tns-no-calc {
    position: relative;
    left: 0
}

.tns-autowidth {
    display: inline-block
}

.tns-lazy-img {
    opacity: 0
}

.tns-lazy-img.tns-complete {
    opacity: 1
}

.tns-ah {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.tns-ovh {
    overflow: hidden
}

.tns-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.tns-transparent {
    opacity: 0
}

.tns-fadeIn {
    opacity: 1;
    transition: opacity .3s
}

.tns-normal,
.tns-fadeOut {
    opacity: 1
}